<Router AppAssembly="@typeof(App).Assembly">

    <Found Context="routeData">

        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(MainLayout)" />

        <FocusOnNavigate RouteData="@routeData"
                         Selector="h1" />

    </Found>

    <NotFound>

        <PageTitle>
            Error 404 - Page not found
        </PageTitle>

        <LayoutView Layout="@typeof(MainLayout)">

            <h1>
                Error 404 - Page not found
            </h1>

            <br />

            <p role="alert"
               style="font-size: large;">
                → &nbsp; Sorry, there's nothing at this address :/
            </p>

        </LayoutView>

    </NotFound>

</Router>